[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LSEbootLS"]
	path = LSEbootLS
	url = https://github.com/nicolas-udec/lsebootls
